@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Libs */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: #fff;
  position: absolute;
  z-index: 30;
}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
}

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px;
}

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px;
}

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
}

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px;
}

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px;
}

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}

.twentytwenty-container.active .twentytwenty-overlay,
.twentytwenty-container.active :hover.twentytwenty-overlay {
  background: rgba(0, 0, 0, 0);
}

.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-container * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.twentytwenty-before-label {
  opacity: 0;
}

.twentytwenty-before-label:before {
  content: attr(data-content);
}

.twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-after-label:before {
  content: attr(data-content);
}

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px;
}

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px;
}

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px;
}

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px;
}

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}

.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
}

.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}

.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}

.twentytwenty-before {
  z-index: 20;
}

.twentytwenty-after {
  z-index: 10;
}

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid #fff;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer;
}

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 3px 0 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: -3px 0 0 #fff, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-left-arrow {
  border-right: 6px solid #fff;
  left: 50%;
  margin-left: -17px;
}

.twentytwenty-right-arrow {
  border-left: 6px solid #fff;
  right: 50%;
  margin-right: -17px;
}

.twentytwenty-up-arrow {
  border-bottom: 6px solid #fff;
  top: 50%;
  margin-top: -17px;
}

.twentytwenty-down-arrow {
  border-top: 6px solid #fff;
  bottom: 50%;
  margin-bottom: -17px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button:focus,
input:focus,
a:focus {
  outline: 0.1rem solid #507fe1;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 7.5px;
    width: 100%;
  }
}

.btn {
  display: inline-block;
  padding: 1.9rem 1.8rem;
  border: 0.2rem solid #507fe1;
  background-color: #507fe1;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.btn:hover {
  background-color: #3a6fdd;
  border-color: #3a6fdd;
}

.btn:focus {
  outline: .1rem solid orange;
}

.btn--light {
  background-color: transparent;
  border-color: #507fe1;
  color: #507fe1;
}

.btn--light:hover {
  background-color: #507fe1;
  color: white;
}

.btn--o {
  color: #6a99e9;
  background: white;
  border-color: white;
}

.btn--o:hover {
  color: white;
}

.btn__text {
  position: relative;
  left: 0;
  top: 0;
}

.section {
  padding: 8rem 0;
}

@media (max-width: 768px) {
  .section {
    padding: 5rem 0;
  }
}

.section__header {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8rem;
}

@media (max-width: 768px) {
  .section__header {
    margin-bottom: 5rem;
  }
}

html {
  font-size: 10px;
}

body {
  background-color: #f1f1f1;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  color: #262626;
  min-width: 320px;
  overflow-x: hidden;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: white;
}

@media (max-width: 576px) {
  .header {
    border-bottom: 0.1rem solid #507fe1;
  }
}

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 8rem;
}

@media (max-width: 576px) {
  .header-wrap {
    height: 6rem;
  }
}

.header-block {
  font-size: 1.8rem;
}

.header-block:not(.header-block--logo) {
  text-align: right;
}

@media (max-width: 992px) {
  .header-block:not(.header-block--logo) {
    display: none;
  }
}

.header-block--logo {
  text-align: center;
}

@media (max-width: 576px) {
  .header-block--logo {
    display: none;
  }
}

.header-block__title {
  display: block;
  margin: 0 0 .3rem;
  font-size: 1em;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.54px;
}

.header-block__subtitle {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: .8em;
  color: #6b6b6b;
}

.header-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-btn__icon {
  width: 2rem;
  height: 2rem;
  display: none;
  fill: #507fe1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

@media (max-width: 768px) {
  .header-btn {
    font-size: 1.6rem;
    padding: 1rem;
  }
  .header-btn:hover .header-btn__icon {
    fill: white;
  }
  .header-btn__icon {
    display: inline-block;
  }
  .header-btn span {
    display: none;
  }
}

.menu-btn {
  position: relative;
  width: 7rem;
  height: 100%;
  background-color: transparent;
  padding: 0 2.5rem;
  border: none;
  border-left: .1rem solid #eee7f8;
  border-right: .1rem solid #eee7f8;
  color: #507fe1;
  cursor: pointer;
}

@media (max-width: 576px) {
  .menu-btn {
    width: 4rem;
  }
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  position: absolute;
  left: 50%;
  margin-left: -1rem;
  width: 2rem;
  height: 0.2rem;
  background-color: currentColor;
}

.menu-btn span:before, .menu-btn span:after {
  content: '';
  -webkit-transition: 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
  -o-transition: 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
  transition: 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
}

.menu-btn span:before {
  -webkit-transform: translateY(-0.6rem);
  -ms-transform: translateY(-0.6rem);
  transform: translateY(-0.6rem);
}

.menu-btn span:after {
  -webkit-transform: translateY(0.6rem);
  -ms-transform: translateY(0.6rem);
  transform: translateY(0.6rem);
}

.menu-btn.active span {
  background: transparent;
}

.menu-btn.active span:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.menu-btn.active span:after {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.nav {
  position: fixed;
  z-index: 98;
  left: 0;
  top: 8rem;
  width: 100%;
  padding: 1.6rem 0;
  background: #507fe1;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

@media (max-width: 576px) {
  .nav {
    top: 6rem;
  }
}

.nav--active, .nav.ally-focus-within {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.nav-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 992px) {
  .nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-wrap .nav__item {
    font-size: 1.9rem;
    margin: .5rem 0;
  }
}

.nav__item {
  margin-right: 3rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: white;
  line-height: 2.5rem;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .nav__item {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item a {
  padding: .5rem;
}

.nav__item a:focus {
  outline-color: white;
}

.home-screen {
  margin-top: 8rem;
  height: 65rem;
  background: #f1f1f1 url("../img/main-bg.jpg") 55% top/cover;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .home-screen {
    background-position: 36% top;
  }
}

@media (max-width: 992px) {
  .home-screen {
    background-position: 27% top;
  }
}

@media (max-width: 768px) {
  .home-screen {
    height: 40rem;
    background-position: -13rem top;
  }
}

@media (max-width: 576px) {
  .home-screen {
    margin-top: 6rem;
    text-align: center;
    background: #f1f1f1;
  }
}

.home-screen-wrap {
  margin-top: 11rem;
  display: inline-block;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .home-screen-wrap {
    font-size: 2.4rem;
    margin-top: 4rem;
  }
}

@media (max-width: 576px) {
  .home-screen-wrap {
    text-align: center;
  }
}

.home-screen__title {
  font-size: 1.2em;
  color: #252525;
  font-weight: normal;
  margin: 0;
}

.home-screen__title strong {
  margin-top: 1em;
  display: block;
  font-size: 1em;
  color: #121212;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}

.home-screen__btn {
  margin-top: 2.2em;
  font-size: .75em;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}

@media (max-width: 576px) {
  .home-screen__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.offer {
  margin-bottom: 13rem;
}

@media (max-width: 768px) {
  .offer {
    margin-bottom: 7rem;
  }
}

.offer--secondary {
  position: relative;
  z-index: 2;
  margin-bottom: -25rem;
}

@media (max-width: 576px) {
  .offer--secondary {
    margin-bottom: -34rem;
  }
}

.offer--secondary .offer-card {
  background-image: url(../img/offer-bg2.jpg);
  margin-top: -20rem;
}

@media (max-width: 992px) {
  .offer--secondary .offer-card {
    background: white;
  }
}

.offer-card {
  margin-top: -10rem;
  background: white url("../img/offer-bg.jpg") no-repeat right top/contain;
  -webkit-box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.1);
  padding: 8.1rem;
  color: black;
}

@media (max-width: 1200px) {
  .offer-card {
    background-position: 68rem top;
  }
}

@media (max-width: 992px) {
  .offer-card {
    background: white;
  }
}

@media (max-width: 768px) {
  .offer-card {
    margin-top: -4rem;
    padding: 5rem;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .offer-card {
    padding: 3rem 2rem;
  }
}

.offer__title {
  font-size: 2.5rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  margin: 0;
  margin-bottom: 3.1rem;
}

.offer__subtitle {
  display: block;
  width: 70rem;
}

@media (max-width: 992px) {
  .offer__subtitle {
    width: 100%;
  }
}

.offer__form {
  margin-top: 3.8rem;
}

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
}

.form-row:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.form-group {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}

.form-group:last-child .form__input {
  border-right: 0.1rem solid #ddd;
}

.form-group--small {
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

.form-group--big {
  -webkit-flex-basis: 66%;
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
}

@media (max-width: 768px) {
  .form-group {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin-bottom: 1rem;
  }
  .form-group:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  font-size: 1.7rem;
  display: block;
  margin: 0 0 1rem;
}

.form__input {
  width: 100%;
  border: 0.1rem solid #ddd;
  border-right: none;
  background-color: #fff;
  padding: 3rem 2.6rem;
  font-size: 1.5rem;
}

.form__input:focus {
  outline: 0;
  border-color: #507fe1;
}

@media (max-width: 768px) {
  .form__input {
    text-align: center;
    border-right: 0.1rem solid #ddd;
  }
}

.form__checkbox-label {
  padding-left: 4rem;
  margin-right: 5rem;
  cursor: pointer;
}

.form__checkbox-label::before {
  content: '';
  position: absolute;
  left: auto;
  top: auto;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid #ddd;
  background-color: white;
  margin-left: -4rem;
  margin-top: -.4rem;
}

@media (max-width: 768px) {
  .form__checkbox-label {
    margin-bottom: 3rem;
    text-align: left;
  }
  .form__checkbox-label:last-child {
    margin-bottom: 0;
  }
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Visually hidden */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.form__checkbox:checked + label::before {
  background: url("../img/checkbox.svg") no-repeat 60% 25%/75%;
}

.form__checkbox:focus + label::before {
  outline: none;
  border-color: #507fe1;
}

.form__submit {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .form__submit {
    font-size: 1.4rem;
  }
}

.form__text {
  width: 39rem;
  color: #596164;
  font-size: 1.7rem;
  margin-left: 4rem;
}

@media (max-width: 1200px) {
  .form__text {
    width: 35rem;
  }
}

@media (max-width: 992px) {
  .form__text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form__text {
    text-align: center;
    margin: 1rem 0 0;
  }
}

.features {
  background: white;
}

.features-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  margin-bottom: 10rem;
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

@media (max-width: 768px) {
  .feature {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .feature {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 5rem;
  }
  .feature:last-child {
    margin-bottom: 0;
  }
}

.feature__img {
  max-width: 100%;
  height: 7rem;
}

.feature__img-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 7rem;
  margin-bottom: 2rem;
}

.feature__name {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: black;
}

.catalog {
  text-align: center;
}

.catalog-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .catalog-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.catalog-card {
  position: relative;
  -webkit-flex-basis: 48.5%;
  -ms-flex-preferred-size: 48.5%;
  flex-basis: 48.5%;
  height: 13rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.catalog-card:hover .catalog-card__buttons-block {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

@media (max-width: 992px) {
  .catalog-card {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 16rem;
  }
}

.catalog-card__img,
.catalog-card__img image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.catalog-card__tag {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: rgba(80, 127, 225, 0.6);
  padding: 1rem;
  margin: 0;
  font-size: 1.2rem;
  color: white;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-card__buttons-block {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

@media (max-width: 992px) {
  .catalog-card__buttons-block {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 576px) {
  .catalog-card__buttons-block {
    font-size: 1.4rem;
  }
}

.catalog-card__btn {
  padding: .8rem;
}

.catalog__btn {
  display: inline-block;
  margin: 5rem auto 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .catalog__btn {
    margin-top: 2rem;
    width: 100%;
    font-size: 1.4rem;
  }
}

.catalog__subtext {
  display: block;
  font-size: 1.6rem;
}

.btn-like {
  background: #3a6fdd;
  border: none;
  width: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.btn-like--active svg {
  fill: white !important;
  -webkit-transform: scale(1.35) !important;
  -ms-transform: scale(1.35) !important;
  transform: scale(1.35) !important;
}

.btn-like:hover {
  background: #507fe1;
}

.btn-like:focus {
  outline: .1rem solid orange;
}

.btn-like svg {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  position: relative;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  stroke: white;
  stroke-width: 2;
  fill: transparent;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.blog {
  background: white;
}

.blog-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .blog-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .blog-header {
    text-align: center;
  }
}

.blog-header__title {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 2.4rem;
  word-wrap: normal;
}

@media (max-width: 576px) {
  .blog-header__title {
    width: 100%;
  }
}

.blog-header__link {
  border-bottom: .1rem solid transparent;
  padding: .2rem .5rem;
  font-size: 1.6rem;
  color: #507fe1;
}

.blog-header__link:hover {
  border-bottom: 0.1rem solid #507fe1;
}

.blog-wrap {
  margin-top: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .blog-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .blog-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.blog-card {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
  background-color: white;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  margin-right: 1rem;
  text-align: center;
}

@media (max-width: 992px) {
  .blog-card {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .blog-card {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
}

.blog-card:last-child {
  margin-right: 0;
}

.blog-card__img {
  width: 100%;
}

.blog-card__img-wrap {
  font-size: 0;
}

.blog-card__title {
  display: block;
  padding: 3rem .5rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: black;
}

.prices-wrap {
  margin-top: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .prices-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.price-block {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
  -webkit-flex-basis: 24%;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  margin-bottom: 2rem;
  cursor: pointer;
}

.price-block:hover .price-block__footer, .price-block.ally-focus-within .price-block__footer {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  z-index: 2;
  opacity: 1;
  pointer-events: all;
}

.price-block__img {
  width: 100%;
}

.price-block__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.5rem 1.4rem;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .price-block__info {
    font-size: 1.4rem;
  }
}

.price-block__type {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  color: black;
}

.price-block__price {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}

.price-block__footer {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  background: white;
  padding: 0 1.4rem 1.4rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.price-block__btn {
  display: block;
  width: 100%;
}

@media (max-width: 992px) {
  .price-block {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    margin-right: 0;
  }
  .price-block__footer {
    position: static;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 576px) {
  .price-block {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
}

.steps {
  padding-top: 0;
}

.steps-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 992px) {
  .steps-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.step {
  position: relative;
  -webkit-flex-basis: 14.66667%;
  -ms-flex-preferred-size: 14.66667%;
  flex-basis: 14.66667%;
  font-size: 1.6rem;
  text-align: center;
}

.step::before {
  content: '';
  font-size: 1.8rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  line-height: 0;
  color: #507fe1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 6rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  border: .15rem solid #666;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding-left: .2rem;
  background-color: #f1f1f1;
}

.step:nth-child(1)::before {
  content: "1.";
}

.step:nth-child(2)::before {
  content: "2.";
}

.step:nth-child(3)::before {
  content: "3.";
}

.step:nth-child(4)::before {
  content: "4.";
}

.step:nth-child(5)::before {
  content: "5.";
}

.step:nth-child(6)::before {
  content: "6.";
}

@media (max-width: 992px) {
  .step {
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-bottom: 4rem;
  }
  .step:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .step {
    font-size: 1.8rem;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.step__img {
  max-width: 100%;
  height: 7rem;
}

.step__name {
  margin: 3rem 0 2rem;
}

.step__description {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}

.compare {
  background-color: white;
}

.compare-slider {
  position: relative;
  padding: 0 4.5rem;
  margin-bottom: 6rem;
}

@media (max-width: 992px) {
  .compare-slider {
    padding: 0 3rem;
  }
}

.feedback {
  padding-bottom: 27rem;
}

.feedback-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 992px) {
  .feedback-wrap {
    padding: 0 .5rem;
  }
}

.feedback-item {
  -webkit-flex-basis: 32.33333%;
  -ms-flex-preferred-size: 32.33333%;
  flex-basis: 32.33333%;
}

@media (max-width: 992px) {
  .feedback-item {
    margin: 0 3rem;
  }
}

.feedback-item__text {
  position: relative;
  background-color: white;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2.2rem 1.9rem;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}

.feedback-item__text::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -0.7rem);
  -ms-transform: translate(-50%, -0.7rem);
  transform: translate(-50%, -0.7rem);
  border: 1.5rem solid transparent;
  border-top: 2rem solid white;
}

.feedback-item__avatar {
  display: block;
  margin: 3rem auto 2rem;
  width: 7rem;
  height: 7rem;
  border: .2rem solid #7ba2e7;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.feedback-item__name, .feedback-item__city {
  display: block;
  font-size: 1.6rem;
  text-align: center;
}

.feedback-item__name {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}

.feedback-item__city {
  font-style: italic;
}

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  background: transparent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  padding: 0;
  height: 100%;
  width: 4.5rem;
  font-size: 0;
  cursor: pointer;
}

.slick-prev::before,
.slick-next::before {
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-left: .3rem solid #7ba2e7;
  border-top: .3rem solid #7ba2e7;
  margin-left: 1.3rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slick-next::before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-left: 0;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

@media (max-width: 992px) {
  .slick-prev {
    left: -1.8rem;
  }
  .slick-next {
    right: -1.8rem;
  }
}

.slick-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 2rem);
  -ms-transform: translate(-50%, 2rem);
  transform: translate(-50%, 2rem);
  top: 100%;
}

.slick-dots li {
  font-size: 0;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slick-dots li.slick-active button {
  background: #5b7fda;
}

.slick-dots li button {
  border: none;
  padding: 0;
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d1d1d1;
  cursor: pointer;
}

.about {
  background-color: white;
  padding-top: 30rem;
}

@media (max-width: 576px) {
  .about {
    padding-top: 39rem;
  }
}

.about__img {
  max-width: 100%;
  height: 26rem;
  float: left;
  margin-right: 7rem;
}

@media (max-width: 992px) {
  .about__img {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .about__img {
    float: none;
    display: block;
    margin: 0 auto 2rem;
  }
}

.about__text {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
  line-height: 1.1;
}

@media (max-width: 768px) {
  .about__text {
    text-align: center;
  }
}

.contacts {
  padding-bottom: 0;
}

.contacts-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .contacts-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.contacts-item {
  -webkit-flex-basis: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  text-align: center;
}

@media (max-width: 768px) {
  .contacts-item {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin-bottom: 3.5rem;
  }
  .contacts-item:last-child {
    margin-bottom: 0;
  }
}

.contacts-item__icon {
  height: 3rem;
  display: block;
  margin: 0 auto 2.5rem;
}

.map {
  position: relative;
  background-color: white;
  margin-top: 4.5rem;
  display: block;
  height: 40rem;
  overflow: hidden;
}

.map__text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}

.map__preview,
.map iframe {
  position: relative;
  z-index: 2;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.footer {
  padding: 4rem 0;
  background-color: #0d0d0d;
  color: white;
  overflow: hidden;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.footer-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.4rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}

.footer-section:last-child {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 992px) {
  .footer-section:last-child {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .footer-section {
    margin-bottom: 1.5rem;
  }
  .footer-section:last-child {
    margin-bottom: 0;
  }
}

.footer-section__title {
  margin: 0.2rem 0;
  font-size: 1.8rem;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .054rem;
}

.payments {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 576px) {
  .payments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.payments__item {
  margin-right: 2rem;
  width: 6rem;
  height: 6rem;
}

.payments__item:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  .payments__item {
    margin: .5rem 0;
  }
}

.socials {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.socials__link {
  margin-right: 2.5rem;
}

.socials__link:last-child {
  margin-right: 0;
}

.socials__link img {
  width: 2.5rem;
  height: 2.5rem;
}
