.blog
  background: white
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    // < 768px
    +sm
      flex-direction: column
    // < 576px
    +xs
      text-align: center
    &__title
      +bold
      color: black
      font-size: 2.4rem
      word-wrap: normal
      +xs
        width: 100%
    &__link
      border-bottom: .1rem solid transparent
      padding: .2rem .5rem
      font-size: 1.6rem
      color: $button-background-color
      &:hover
        border-bottom: .1rem solid $button-background-color
  &__wrap
    margin-top: 5rem
    display: flex
    justify-content: space-between
    +md
      flex-wrap: wrap
    +xs
      flex-direction: column
      align-items: center

  &-card
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08)
    background-color: white
    flex-basis: 25%
    margin-right: 1rem
    text-align: center
    transition: transform .4s ease, box-shadow .6s ease
    will-change: transform, box-shadow

    &:hover,
    &:focus
      outline: none
      box-shadow: 0 0.5rem .5rem rgba(0, 0, 0, 0.04)
      transform: translateY(-2rem)
    
    +md
      flex-basis: 49%
      margin-right: 0
      margin-bottom: 2rem

      &:hover,
      &:focus
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25)
        transform: none
    
    +xs
      flex: auto
    
    &:last-child
      margin-right: 0
    
    &__img,
    figure
      width: 100%
    
    &__title
      display: block
      padding: 3rem .5rem
      +light
      font-size: 1.6rem
      color: black
