.feedback
  padding-bottom: 27rem
  &-wrap
    display: flex
    justify-content: space-between
    align-items: flex-end
    +md
      padding: 0 .5rem
  &-item
    flex-basis: (100% / 3) - 1%
    +md
      margin: 0 3rem
    &__text
      position: relative
      background-color: white
      border-radius: 1rem
      box-shadow: 0 .8rem 1rem rgba(0, 0, 0, 0.1)
      padding: 2.2rem 1.9rem
      margin: 0
      +light
      &::after
        content: ''
        display: block
        position: absolute
        left: 50%
        top:  100%
        transform: translate(-50%, -.7rem)
        border:     1.5rem solid transparent
        border-top: 2rem solid white
    &__avatar
      display: block
      margin: 3rem auto 2rem
      width:  7rem
      height: 7rem
      border: .2rem solid #7ba2e7
      border-radius: 50%
    &__name,
    &__city
      display: block
      font-size: 1.6rem
      text-align: center
    &__name
      +bold
    &__city
      font-style: italic

// в common.sass
.slick-prev,
.slick-next
  position: absolute
  z-index: 2
  top: 50%
  background: transparent
  transform: translateY(-50%)
  border: none
  padding: 0
  height: 100%
  width: 4.5rem
  font-size: 0
  cursor: pointer
  &::before
    content: ''
    display: block
    width:  3rem
    height: 3rem
    background-color: transparent
    border-left: .3rem solid #7ba2e7
    border-top:  .3rem solid #7ba2e7
    margin-left: 1.3rem
    transform: rotate(-45deg)
.slick-next::before
    transform: rotate(135deg)
    margin-left: 0
.slick-prev
  left: 0
.slick-next
  right: 0
+md
  .slick-prev
    left: -1.8rem
  .slick-next
    right: -1.8rem

.slick-dots
  list-style: none
  padding: 0
  margin: 0
  display: inline-flex
  position: absolute
  left: 50%
  transform: translate(-50%, 2rem)
  top: 100%
  li
    font-size: 0
    width:  3rem
    height: 3rem
    display: flex
    justify-content: center
    align-items: center
    &.slick-active button
      background: #5b7fda
    button
      border: none
      padding: 0
      width:  1rem
      height: 1rem
      border-radius: 50%
      background: #d1d1d1
      cursor: pointer