.home-screen
  margin-top: $header-height
  height: 65rem
  background: #f1f1f1 url("../img/main-bg.jpg") 55% top / cover
  overflow: hidden
  +lg
    background-position: -33rem top
  // < 992px
  +md
    background-position: 30% top
  // < 768px
  +sm
    height: 40rem
    background-position: -13rem top
  // < 567px
  +xs
    margin-top: $header-height--small
    background: #f1f1f1
  &-wrap
    margin-top: 11rem
    font-size: 3rem
    // < 768px
    +sm
      margin-top: 4rem
    // < 567px
    +xs
      text-align: center
  &__title
    color: #252525
    margin-bottom: 2.7rem
  &__subtitle
    +bold
    color: #121212
  &__btn
    display: block
    margin-top: 4.7rem
    +bold
    font-size: 2rem
    // < 567px
    +xs
      margin-left:  auto
      margin-right: auto
