.prices
  &-wrap
    margin-top: 5rem
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    +xs
      flex-direction: column
      align-items: center

.price-block
  position: relative
  background-color: white
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08)
  flex-basis: 24%
  margin-bottom: 2rem
  cursor: pointer
  &:hover,
  &.ally-focus-within
    .price-block__footer
      transform: translateY(0)
      z-index: 2
      opacity: 1
      pointer-events: all
  &__img
    width: 100%
  &__info
    display: flex
    justify-content: space-between
    align-items: center
    padding: 2.5rem 1.4rem
    font-size: 1.5rem
    +lg
      font-size: 1.4rem
  &__type
    +light
    color: black
  &__price
    +bold
  &__footer
    position: absolute
    z-index: 2
    left: 0
    top:   100%
    width: 100%
    transform: translateY(-100%)
    background: white
    padding: 0 1.4rem 1.4rem
    opacity: 0
    pointer-events: none
    transition: .4s ease
  &__btn
    display: block
    width: 100%
  +md
    flex-basis: 49%
    margin-right: 0
    &__footer
      position: static
      opacity: 1
      transform: translateY(0)
  +xs
    flex: auto
